<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.assessment.TeaAssessmentServiceMapper">
	<resultMap type="com.ruoyi.system.domain.assessment.TeaAssessmentService" id="Result">
		<id property="id" column="id"/>
		<result property="recordId" column="record_id"/>
		<result property="serviceType" column="service_type"/>
		<result property="content" column="content"/>
		<result property="impact" column="impact"/>
	</resultMap>
	<select id="selectByRecordId" parameterType="Long" resultMap="Result">
		select * from tea_assessment_service where record_id = #{recordId}
	</select>
	<insert id="insert" parameterType="com.ruoyi.system.domain.assessment.TeaAssessmentService" useGeneratedKeys="true" keyProperty="id">
		insert into tea_assessment_service(record_id, service_type, content, impact)
		values(#{recordId}, #{serviceType}, #{content}, #{impact})
	</insert>
	<delete id="deleteByRecordId" parameterType="Long">
		delete from tea_assessment_service where record_id = #{recordId}
	</delete>
</mapper>
