<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.recruit.TeaApplicantMapper">

	<resultMap type="com.ruoyi.system.domain.recruit.TeaApplicant" id="TeaApplicantResult">
		<id     property="applicantId"    column="applicant_id"    />
		<result property="planId"         column="plan_id"         />
		<result property="name"           column="name"            />
		<result property="gender"         column="gender"          />
		<result property="birthDate"      column="birth_date"      />
		<result property="nationality"    column="nationality"     />
		<result property="currentUnit"    column="current_unit"    />
		<result property="currentPosition" column="current_position"/>
		<result property="educationLevel" column="education_level" />
		<result property="degreeType"     column="degree_type"     />
		<result property="phone"          column="phone"           />
		<result property="email"          column="email"           />
		<result property="applyDate"      column="apply_date"      />
		<result property="talentLevel"    column="talent_level"    />
		<result property="status"         column="status"          />
		<result property="createBy"       column="create_by"       />
		<result property="createTime"     column="create_time"     />
		<result property="updateBy"       column="update_by"       />
		<result property="updateTime"     column="update_time"     />
		<result property="remark"         column="remark"          />
		<result property="planDiscipline" column="plan_discipline" />
		<result property="planTalentLevel" column="plan_talent_level"/>
	</resultMap>

	<sql id="selectApplicantVo">
		select a.applicant_id, a.plan_id, a.name, a.gender, a.birth_date, a.nationality,
			a.current_unit, a.current_position, a.education_level, a.degree_type,
			a.phone, a.email, a.apply_date, a.talent_level, a.status,
			a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
			p.discipline as plan_discipline, p.talent_level as plan_talent_level
		from tea_applicant a
		left join tea_recruit_plan p on p.plan_id = a.plan_id
	</sql>

	<select id="selectApplicantList" parameterType="com.ruoyi.system.domain.recruit.TeaApplicant" resultMap="TeaApplicantResult">
		<include refid="selectApplicantVo"/>
		<where>
			<if test="name != null and name != ''">AND a.name like concat('%', #{name}, '%')</if>
			<if test="talentLevel != null and talentLevel != ''">AND a.talent_level = #{talentLevel}</if>
			<if test="status != null and status != ''">AND a.status = #{status}</if>
			<if test="planId != null">AND a.plan_id = #{planId}</if>
			<if test="educationLevel != null and educationLevel != ''">AND a.education_level = #{educationLevel}</if>
		</where>
		order by a.applicant_id desc
	</select>

	<select id="selectApplicantById" parameterType="Long" resultMap="TeaApplicantResult">
		<include refid="selectApplicantVo"/>
		where a.applicant_id = #{applicantId}
	</select>

	<insert id="insertApplicant" parameterType="com.ruoyi.system.domain.recruit.TeaApplicant" useGeneratedKeys="true" keyProperty="applicantId">
		insert into tea_applicant(
			<if test="planId != null">plan_id,</if>
			<if test="name != null and name != ''">name,</if>
			<if test="gender != null and gender != ''">gender,</if>
			<if test="birthDate != null">birth_date,</if>
			<if test="nationality != null and nationality != ''">nationality,</if>
			<if test="currentUnit != null and currentUnit != ''">current_unit,</if>
			<if test="currentPosition != null and currentPosition != ''">current_position,</if>
			<if test="educationLevel != null and educationLevel != ''">education_level,</if>
			<if test="degreeType != null and degreeType != ''">degree_type,</if>
			<if test="phone != null and phone != ''">phone,</if>
			<if test="email != null and email != ''">email,</if>
			<if test="applyDate != null">apply_date,</if>
			<if test="talentLevel != null and talentLevel != ''">talent_level,</if>
			<if test="status != null and status != ''">status,</if>
			<if test="remark != null">remark,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			create_time
		)values(
			<if test="planId != null">#{planId},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="gender != null and gender != ''">#{gender},</if>
			<if test="birthDate != null">#{birthDate},</if>
			<if test="nationality != null and nationality != ''">#{nationality},</if>
			<if test="currentUnit != null and currentUnit != ''">#{currentUnit},</if>
			<if test="currentPosition != null and currentPosition != ''">#{currentPosition},</if>
			<if test="educationLevel != null and educationLevel != ''">#{educationLevel},</if>
			<if test="degreeType != null and degreeType != ''">#{degreeType},</if>
			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="email != null and email != ''">#{email},</if>
			<if test="applyDate != null">#{applyDate},</if>
			<if test="talentLevel != null and talentLevel != ''">#{talentLevel},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="remark != null">#{remark},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			sysdate()
		)
	</insert>

	<update id="updateApplicant" parameterType="com.ruoyi.system.domain.recruit.TeaApplicant">
		update tea_applicant
		<set>
			<if test="planId != null">plan_id = #{planId},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="gender != null and gender != ''">gender = #{gender},</if>
			<if test="birthDate != null">birth_date = #{birthDate},</if>
			<if test="nationality != null">nationality = #{nationality},</if>
			<if test="currentUnit != null">current_unit = #{currentUnit},</if>
			<if test="currentPosition != null">current_position = #{currentPosition},</if>
			<if test="educationLevel != null">education_level = #{educationLevel},</if>
			<if test="degreeType != null">degree_type = #{degreeType},</if>
			<if test="phone != null">phone = #{phone},</if>
			<if test="email != null">email = #{email},</if>
			<if test="applyDate != null">apply_date = #{applyDate},</if>
			<if test="talentLevel != null">talent_level = #{talentLevel},</if>
			<if test="status != null and status != ''">status = #{status},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where applicant_id = #{applicantId}
	</update>

	<delete id="deleteApplicantByIds" parameterType="Long">
		delete from tea_applicant where applicant_id in
		<foreach collection="array" item="applicantId" open="(" separator="," close=")">#{applicantId}</foreach>
	</delete>
</mapper>
